.container {
  background-color: cadetblue;
}

body {
  margin: 80px 0px;
  font-family: "Roboto Slab", serif;
  font-size: small;
  line-height: 32px;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 46px;
}
h2 {
  font-family: "roboto slab", serif;
  color: aliceblue;
}
#navbar-brand {
  padding-top: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#main-content {
  background-color: cadetblue;
}

.img-thumbnail {
  margin: 10px;
  float: left;
  width: 33%;
}
.img-portfolio {
  margin: 20px auto;
}

.Social {
  text-align: center;
  margin: 20px;
  color: azure;
}

.img-fluid {
  margin-top: 0px;
  margin-bottom: 30px;
}
